.top_rect { 
	background-color: black;
	position: fixed;
	height: 3em;
	width: 100%;
	left: 0%;
	top: 0%;
	position:fixed;
	text-align: center;
	overflow: hidden;
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
}

div.title_pos {
	top: 0%;
	left: 0.25%;
	position:fixed;
	text-align: left;  
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
}

div.filename_pos {
	top: 0%;
	left: 25.5%;
	position:fixed;
	text-align: left;
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
}

div.clock_pos {
	top: 0%;
	right: 1%;
	position:fixed;
	text-align: right;  
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
}

div.album_pos {
	top: 0%;
	right: 27%;
	position:fixed;
	text-align: right;
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
}

div.zoom_pos {
	top: 0%;
	right: 11%;
	position:fixed;
	text-align: right;
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
}
